#{extends 'main.html' /}
#{include 'Application/Search/bar.html' /}
#{set title:'Home' /}

 <script src="@{'/public/javascripts/d3.v2.min.js'}"></script>
  <script src="@{'/public/javascripts/highcharts.js'}"></script>
  <script src="@{'/public/javascripts/exporting.js'}"></script>
<style type="text/css">


.sorted:hover
{
  cursor: pointer;
  /*background-color: #776AED;*/
}

</style>
<script type="text/javascript" >

//actions defined in app/controllers/Application.java
   var taxas = #{jsAction @Taxas.search(':search', ':page') /}  

var occurrences = #{jsAction @Occurrences.search(':searchTaxa', ':searchPlace', ':searchDataset', ':searchDate', ':onlyWithCoordinates', ':from') /}  

  
   var places = #{jsAction @Places.search(':search') /}
 

   var datasets = #{jsAction @Datasets.search(':search') /}
   

  $(document).ready(function() {

$('#extra_outils').hide()
/*
$('#selected_filters_container').click(function (e)
  {
    if ($(event.target).hasClass('icon-remove'))
              {
                var $parent=$(this).parent();
                if ($parent.is('li')) $parent.remove()
                  else  $parent.parent().remove()
              }
 })
*/
 //executes search based on URL
console.info("${search.dataset}")


searchOccurrences("${search.taxaText}","${search.placeText}","${search.dataset}","${search.dateText}","${search.onlyWithCoordinates}", 0);
//,d_to_pass

$('#search-submit').show()
var taxes="${search.taxaText}";//.split(';')
var places="${search.placeText}";
var datasets_text="${search.dataset}";  
var only_georef="${search.onlyWithCoordinates}";  
//previous versions included a basic mapping!! (to re-use?)
//defined in attach_events.js
collect_params_from_url(taxes,places,datasets_text)

 

  });
</script>
#{if flash.errorDate}
<div class="container alert alert-error" style="width:890px;" id="flash">
     
    	<p style="color:#c00">
          <h4>&{'dateError'}</h4>
    	</p>	
</div>
#{/if} 
<div class="container">
   
    
  <div class="row occ_results" style="margin-left: 0px;opacity:0.01;">
     <div id="occurrences"></div>  

  </div>
</div>
